<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overall View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overall View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-412fc11283a840cca59cd3f77001a055.png" alt="Overall View" usemap="#id-412fc11283a840cca59cd3f77001a055map"/>
			   <map name="id-412fc11283a840cca59cd3f77001a055map">
				  		<area shape="rect" coords="1306,1204,1450,1276" href="../elements/id-112aba1b7d8247e6bbc59e50317b1965.html"  target="element">
				  		<area shape="rect" coords="2470,1204,2614,1276" href="../elements/id-bedc2eb25d9c486db783b0fa553d319e.html"  target="element">
				  		<area shape="rect" coords="2082,1204,2226,1276" href="../elements/id-40abb90ec07b4a33a35046bd9f15e360.html"  target="element">
				  		<area shape="rect" coords="1306,1336,1450,1408" href="../elements/id-453b4c97cf1645c4a09d809ab803cb96.html"  target="element">
				  		<area shape="rect" coords="892,1204,1036,1276" href="../elements/id-186c8f3fd04743c3bece4e1e70d60894.html"  target="element">
				  				<area shape="rect" coords="1979,1060,2340,1130" href="../elements/id-9a5e7c9827b04398a7e8bee3393f559d.html"  target="element">

				  		<area shape="rect" coords="1931,1036,2376,1145" href="../elements/id-a859d7dcff9c4a769c340fc4225a0f68.html"  target="element">
				  				<area shape="rect" coords="1978,787,2111,848" href="../elements/id-289c5ed0b90645a2a189691273cff66b.html"  target="element">
				  				<area shape="rect" coords="2206,784,2339,845" href="../elements/id-a116ebf3ed1b4de586ad79ed7e205248.html"  target="element">
				  				<area shape="rect" coords="2086,880,2219,941" href="../elements/id-10842d3b142f4146a453404b7937cab6.html"  target="element">

				  		<area shape="rect" coords="1930,736,2375,977" href="../elements/id-f61e50c70b3242729d70190eafccd721.html"  target="element">
				  				<area shape="rect" coords="1690,787,1823,848" href="../elements/id-8798cf68cf0342fe8759e32bf5b23f7e.html"  target="element">
				  				<area shape="rect" coords="1498,784,1631,845" href="../elements/id-c1b076f96f0746c7aae77ae2abddff16.html"  target="element">
				  				<area shape="rect" coords="1306,784,1438,845" href="../elements/id-60f3bf954e9f4dfda68a022a44910cf9.html"  target="element">
				  				<area shape="rect" coords="1498,892,1631,953" href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html"  target="element">
				  				<area shape="rect" coords="1306,892,1439,953" href="../elements/id-91986f7d113d40f99cfee487c15174b2.html"  target="element">

				  		<area shape="rect" coords="1270,736,1859,977" href="../elements/id-9394ba3905cb472f93fb22d1048223de.html"  target="element">
				  				<area shape="rect" coords="898,904,1031,965" href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html"  target="element">
				  				<area shape="rect" coords="994,784,1127,845" href="../elements/id-feae05fe6e0e4f5f862b8aa4f02d87c3.html"  target="element">
				  				<area shape="rect" coords="778,784,911,845" href="../elements/id-abe32fc1142143a29e997bd91db1be77.html"  target="element">

				  		<area shape="rect" coords="742,736,1187,977" href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html"  target="element">
				  		<area shape="rect" coords="1906,208,2050,280" href="../elements/id-2958c694cef84d9bb102c5bf41cf6e05.html"  target="element">
				  		<area shape="rect" coords="1366,243,1381,258" href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html"  target="element">
				  		<area shape="rect" coords="1643,442,1787,514" href="../elements/id-d3e40ff8dc544632823cea478081d262.html"  target="element">
				  		<area shape="rect" coords="262,207,417,280" href="../elements/id-1fcda5b4164d496da1272d18b933cc7c.html"  target="element">
				  		<area shape="rect" coords="10,207,165,280" href="../elements/id-503b58776c974a23bb86049521a72635.html"  target="element">
				  		<area shape="rect" coords="1905,12,2049,84" href="../elements/id-f0bd505078714e08b3eff3a79e7bf5aa.html"  target="element">
				  		<area shape="rect" coords="530,209,674,288" href="../elements/id-a2e665b32e9a42328c5fd198969f6549.html"  target="element">
				  		<area shape="rect" coords="1186,21,1330,93" href="../elements/id-fb859793bbac4d78aee5231db9bde564.html"  target="element">
				  		<area shape="rect" coords="1642,10,1786,82" href="../elements/id-4bbac0b7e22f4210903482e757905ba0.html"  target="element">
				  		<area shape="rect" coords="1642,208,1786,280" href="../elements/id-81b7916b51fa40cdb005450f739fe725.html"  target="element">
				  				<area shape="rect" coords="1066,238,1210,310" href="../elements/id-2034fb33b40248e190439fcbe50fd7f1.html"  target="element">

				  		<area shape="rect" coords="1030,202,1271,299" href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html"  target="element">
				  		<area shape="rect" coords="785,207,929,279" href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html"  target="element">
				  		<area shape="rect" coords="1643,598,1787,670" href="../elements/id-a2314879bcdf4781b3409e8d0b61a31b.html"  target="element">
				  		<area shape="rect" coords="791,10,935,82" href="../elements/id-4d221a62d6024cddbe75825826447d46.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4d221a62d6024cddbe75825826447d46.html" target="element"> Concierge </a> </td>
											    <td> <a href="../elements/id-4d221a62d6024cddbe75825826447d46.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2314879bcdf4781b3409e8d0b61a31b.html" target="element"> External Cleaning Service  </a> </td>
											    <td> <a href="../elements/id-a2314879bcdf4781b3409e8d0b61a31b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html" target="element"> Address Special Requests by Guests </a> </td>
											    <td> <a href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html" target="element"> Special Request handling </a> </td>
											    <td> <a href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2034fb33b40248e190439fcbe50fd7f1.html" target="element"> Fulfill In-House Requests (Standard &amp; VIP) </a> </td>
													    <td> <a href="../elements/id-2034fb33b40248e190439fcbe50fd7f1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-81b7916b51fa40cdb005450f739fe725.html" target="element"> Laundry Service </a> </td>
											    <td> <a href="../elements/id-81b7916b51fa40cdb005450f739fe725.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4bbac0b7e22f4210903482e757905ba0.html" target="element"> Transfer Service </a> </td>
											    <td> <a href="../elements/id-4bbac0b7e22f4210903482e757905ba0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb859793bbac4d78aee5231db9bde564.html" target="element"> Briefing Report </a> </td>
											    <td> <a href="../elements/id-fb859793bbac4d78aee5231db9bde564.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2e665b32e9a42328c5fd198969f6549.html" target="element"> Special Requests </a> </td>
											    <td> <a href="../elements/id-a2e665b32e9a42328c5fd198969f6549.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0bd505078714e08b3eff3a79e7bf5aa.html" target="element"> Transfer Arrangements </a> </td>
											    <td> <a href="../elements/id-f0bd505078714e08b3eff3a79e7bf5aa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-503b58776c974a23bb86049521a72635.html" target="element"> Guest </a> </td>
											    <td> <a href="../elements/id-503b58776c974a23bb86049521a72635.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fcda5b4164d496da1272d18b933cc7c.html" target="element"> Guest Reservation </a> </td>
											    <td> <a href="../elements/id-1fcda5b4164d496da1272d18b933cc7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d3e40ff8dc544632823cea478081d262.html" target="element"> Exceptional External Cleaning Process </a> </td>
											    <td> <a href="../elements/id-d3e40ff8dc544632823cea478081d262.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2958c694cef84d9bb102c5bf41cf6e05.html" target="element"> Open Account </a> </td>
											    <td> <a href="../elements/id-2958c694cef84d9bb102c5bf41cf6e05.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html" target="element"> Staff Portal Application </a> </td>
											    <td> <a href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-abe32fc1142143a29e997bd91db1be77.html" target="element"> Add Services to Reservation </a> </td>
													    <td> <a href="../elements/id-abe32fc1142143a29e997bd91db1be77.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-feae05fe6e0e4f5f862b8aa4f02d87c3.html" target="element"> Display Briefing Report </a> </td>
													    <td> <a href="../elements/id-feae05fe6e0e4f5f862b8aa4f02d87c3.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html" target="element"> Staff Portal Dashboard </a> </td>
													    <td> <a href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
											    <td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-91986f7d113d40f99cfee487c15174b2.html" target="element"> Special Requests </a> </td>
													    <td> <a href="../elements/id-91986f7d113d40f99cfee487c15174b2.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element"> Open Account </a> </td>
													    <td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60f3bf954e9f4dfda68a022a44910cf9.html" target="element"> Update Associated Costs Automatically </a> </td>
													    <td> <a href="../elements/id-60f3bf954e9f4dfda68a022a44910cf9.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1b076f96f0746c7aae77ae2abddff16.html" target="element"> Generate Briefing Report </a> </td>
													    <td> <a href="../elements/id-c1b076f96f0746c7aae77ae2abddff16.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8798cf68cf0342fe8759e32bf5b23f7e.html" target="element"> Briefing Report </a> </td>
													    <td> <a href="../elements/id-8798cf68cf0342fe8759e32bf5b23f7e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element"> Transfer Management System (TMS)  </a> </td>
											    <td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-10842d3b142f4146a453404b7937cab6.html" target="element"> Transfer Schedule </a> </td>
													    <td> <a href="../elements/id-10842d3b142f4146a453404b7937cab6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a116ebf3ed1b4de586ad79ed7e205248.html" target="element"> Match Requests with Vehicle </a> </td>
													    <td> <a href="../elements/id-a116ebf3ed1b4de586ad79ed7e205248.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-289c5ed0b90645a2a189691273cff66b.html" target="element"> Submit Transfer Requests </a> </td>
													    <td> <a href="../elements/id-289c5ed0b90645a2a189691273cff66b.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a859d7dcff9c4a769c340fc4225a0f68.html" target="element"> WeWash External Platform </a> </td>
											    <td> <a href="../elements/id-a859d7dcff9c4a769c340fc4225a0f68.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9a5e7c9827b04398a7e8bee3393f559d.html" target="element"> Transfer Laundry Charges to HMS  </a> </td>
													    <td> <a href="../elements/id-9a5e7c9827b04398a7e8bee3393f559d.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-186c8f3fd04743c3bece4e1e70d60894.html" target="element"> Smartphone  </a> </td>
											    <td> <a href="../elements/id-186c8f3fd04743c3bece4e1e70d60894.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-453b4c97cf1645c4a09d809ab803cb96.html" target="element"> Hotel Wi-Fi Network </a> </td>
											    <td> <a href="../elements/id-453b4c97cf1645c4a09d809ab803cb96.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40abb90ec07b4a33a35046bd9f15e360.html" target="element"> WeWash Server </a> </td>
											    <td> <a href="../elements/id-40abb90ec07b4a33a35046bd9f15e360.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bedc2eb25d9c486db783b0fa553d319e.html" target="element"> Hotel Fleet Vehicles </a> </td>
											    <td> <a href="../elements/id-bedc2eb25d9c486db783b0fa553d319e.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-112aba1b7d8247e6bbc59e50317b1965.html" target="element"> Central Server </a> </td>
											    <td> <a href="../elements/id-112aba1b7d8247e6bbc59e50317b1965.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2896613032a745f1bdb5a903ecacfcdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2896613032a745f1bdb5a903ecacfcdd.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d221a62d6024cddbe75825826447d46.html" target="element"> Concierge </a> </td>
																		<td> <a href="../elements/id-fb859793bbac4d78aee5231db9bde564.html" target="element"> Briefing Report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccbb7d65354d4310ab3e2457a723ce2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccbb7d65354d4310ab3e2457a723ce2f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d221a62d6024cddbe75825826447d46.html" target="element"> Concierge </a> </td>
																		<td> <a href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html" target="element"> Address Special Requests by Guests </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f88f8637381e4a5f9270144536b60962.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f88f8637381e4a5f9270144536b60962.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2314879bcdf4781b3409e8d0b61a31b.html" target="element"> External Cleaning Service  </a> </td>
																		<td> <a href="../elements/id-d3e40ff8dc544632823cea478081d262.html" target="element"> Exceptional External Cleaning Process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7f9b16234d024017adcd6a37e9c42545.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f9b16234d024017adcd6a37e9c42545.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html" target="element"> Address Special Requests by Guests </a> </td>
																		<td> <a href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html" target="element"> Special Request handling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7e0ce866a754328bf8fc3b0c4a82cee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7e0ce866a754328bf8fc3b0c4a82cee.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html" target="element"> Address Special Requests by Guests </a> </td>
																		<td> <a href="../elements/id-a2e665b32e9a42328c5fd198969f6549.html" target="element"> Special Requests </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d90d5d1e24754c5bb1465145c31abfc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d90d5d1e24754c5bb1465145c31abfc9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html" target="element"> Special Request handling </a> </td>
																		<td> <a href="../elements/id-2034fb33b40248e190439fcbe50fd7f1.html" target="element"> Fulfill In-House Requests (Standard &amp; VIP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1b898e3745647b0994a3dfab88957c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1b898e3745647b0994a3dfab88957c0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html" target="element"> Special Request handling </a> </td>
																		<td> <a href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-802f94c4879b431f888d5ff29b974219.html" target="element"> Update Status ??? </a> </td>
																		<td> <a href="../elements/id-802f94c4879b431f888d5ff29b974219.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba00efa1318c46c5a46beb144896aee2.html" target="element"> Special Request handling </a> </td>
																		<td> <a href="../elements/id-a2e665b32e9a42328c5fd198969f6549.html" target="element"> Special Requests </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1a0be86311f54503b7a00ceafd37d650.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a0be86311f54503b7a00ceafd37d650.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2e665b32e9a42328c5fd198969f6549.html" target="element"> Special Requests </a> </td>
																		<td> <a href="../elements/id-1fcda5b4164d496da1272d18b933cc7c.html" target="element"> Guest Reservation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66e865c35e094475a51733710d8cc2c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66e865c35e094475a51733710d8cc2c4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-503b58776c974a23bb86049521a72635.html" target="element"> Guest </a> </td>
																		<td> <a href="../elements/id-1fcda5b4164d496da1272d18b933cc7c.html" target="element"> Guest Reservation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f71d930a813d42bb86a6a8521ecbcce8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f71d930a813d42bb86a6a8521ecbcce8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-d3e40ff8dc544632823cea478081d262.html" target="element"> Exceptional External Cleaning Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a0dff6d1a8348bd802887651216e5c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a0dff6d1a8348bd802887651216e5c9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-4bbac0b7e22f4210903482e757905ba0.html" target="element"> Transfer Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eee5ca7a643e471cb6bbf6acace6081c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eee5ca7a643e471cb6bbf6acace6081c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8308967dde2d433d93d0e768b3a9c568.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-81b7916b51fa40cdb005450f739fe725.html" target="element"> Laundry Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d499bde7dba43bc85ffeb730d587430.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d499bde7dba43bc85ffeb730d587430.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html" target="element"> Staff Portal Application </a> </td>
																		<td> <a href="../elements/id-feae05fe6e0e4f5f862b8aa4f02d87c3.html" target="element"> Display Briefing Report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9698119c50a34dde89ed194709d85b09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9698119c50a34dde89ed194709d85b09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html" target="element"> Staff Portal Application </a> </td>
																		<td> <a href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html" target="element"> Staff Portal Dashboard </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-735b9d512de148e9b639b5a9206e420f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-735b9d512de148e9b639b5a9206e420f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html" target="element"> Staff Portal Application </a> </td>
																		<td> <a href="../elements/id-abe32fc1142143a29e997bd91db1be77.html" target="element"> Add Services to Reservation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c801ebbdfb044372a18f0dcad3f095e0.html" target="element"> Write </a> </td>
																				<td> <a href="../elements/id-c801ebbdfb044372a18f0dcad3f095e0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abe32fc1142143a29e997bd91db1be77.html" target="element"> Add Services to Reservation </a> </td>
																				<td> <a href="../elements/id-91986f7d113d40f99cfee487c15174b2.html" target="element"> Special Requests </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9d8ef45294454ab99028fe5e866fe0fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d8ef45294454ab99028fe5e866fe0fe.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abe32fc1142143a29e997bd91db1be77.html" target="element"> Add Services to Reservation </a> </td>
																				<td> <a href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html" target="element"> Staff Portal Dashboard </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-571c8d4bad1d4e0791752a266781fbfb.html" target="element"> Serves </a> </td>
																				<td> <a href="../elements/id-571c8d4bad1d4e0791752a266781fbfb.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-abe32fc1142143a29e997bd91db1be77.html" target="element"> Add Services to Reservation </a> </td>
																				<td> <a href="../elements/id-841e84c8b1594a149b1c817ed8aa5eee.html" target="element"> Address Special Requests by Guests </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4742164c17394d6c9b7666142517262b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4742164c17394d6c9b7666142517262b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-feae05fe6e0e4f5f862b8aa4f02d87c3.html" target="element"> Display Briefing Report </a> </td>
																				<td> <a href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html" target="element"> Staff Portal Dashboard </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c2e43093c9e9472aa7aabafe2413e4d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2e43093c9e9472aa7aabafe2413e4d0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																		<td> <a href="../elements/id-60f3bf954e9f4dfda68a022a44910cf9.html" target="element"> Update Associated Costs Automatically </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a552f9b415584a9fbd5852bae4772eab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a552f9b415584a9fbd5852bae4772eab.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																		<td> <a href="../elements/id-91986f7d113d40f99cfee487c15174b2.html" target="element"> Special Requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19fd47d54af543f9a72003cbedd39bde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19fd47d54af543f9a72003cbedd39bde.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																		<td> <a href="../elements/id-c1b076f96f0746c7aae77ae2abddff16.html" target="element"> Generate Briefing Report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9677c2c6bd59474abe0997b6bf501f68.html" target="element"> Serves </a> </td>
																		<td> <a href="../elements/id-9677c2c6bd59474abe0997b6bf501f68.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																		<td> <a href="../elements/id-cadf5b6d698f43158a9a8e97077c0763.html" target="element"> Staff Portal Application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23ef55aab20e470ba241e1e5b3f5c33d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23ef55aab20e470ba241e1e5b3f5c33d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																		<td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element"> Open Account </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0ff40bd5c164b54a8c0706de06dc2ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0ff40bd5c164b54a8c0706de06dc2ca.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																		<td> <a href="../elements/id-8798cf68cf0342fe8759e32bf5b23f7e.html" target="element"> Briefing Report </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4b579c2124714cd4a1d9544311b1914d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b579c2124714cd4a1d9544311b1914d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element"> Open Account </a> </td>
																				<td> <a href="../elements/id-2958c694cef84d9bb102c5bf41cf6e05.html" target="element"> Open Account </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cc07786002f24587956d2f7acba813c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc07786002f24587956d2f7acba813c5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60f3bf954e9f4dfda68a022a44910cf9.html" target="element"> Update Associated Costs Automatically </a> </td>
																				<td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element"> Open Account </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6cbba51add90409ea58d494ca04256d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6cbba51add90409ea58d494ca04256d1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c1b076f96f0746c7aae77ae2abddff16.html" target="element"> Generate Briefing Report </a> </td>
																				<td> <a href="../elements/id-91986f7d113d40f99cfee487c15174b2.html" target="element"> Special Requests </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-61d62f952a924868b7fd616c8045e737.html" target="element"> Write </a> </td>
																				<td> <a href="../elements/id-61d62f952a924868b7fd616c8045e737.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c1b076f96f0746c7aae77ae2abddff16.html" target="element"> Generate Briefing Report </a> </td>
																				<td> <a href="../elements/id-8798cf68cf0342fe8759e32bf5b23f7e.html" target="element"> Briefing Report </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-90b35d77e27a4abc98caf12d426e2696.html" target="element"> Realizes </a> </td>
																				<td> <a href="../elements/id-90b35d77e27a4abc98caf12d426e2696.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8798cf68cf0342fe8759e32bf5b23f7e.html" target="element"> Briefing Report </a> </td>
																				<td> <a href="../elements/id-fb859793bbac4d78aee5231db9bde564.html" target="element"> Briefing Report </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-994fa1e9f2604c25aec80eb73907d5fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-994fa1e9f2604c25aec80eb73907d5fd.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element"> Transfer Management System (TMS)  </a> </td>
																		<td> <a href="../elements/id-10842d3b142f4146a453404b7937cab6.html" target="element"> Transfer Schedule </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-271f15c9e4f048598a51786140d59ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-271f15c9e4f048598a51786140d59ec4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element"> Transfer Management System (TMS)  </a> </td>
																		<td> <a href="../elements/id-289c5ed0b90645a2a189691273cff66b.html" target="element"> Submit Transfer Requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1be0d78b461e40ecaa36f1b000b43dc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1be0d78b461e40ecaa36f1b000b43dc4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element"> Transfer Management System (TMS)  </a> </td>
																		<td> <a href="../elements/id-a116ebf3ed1b4de586ad79ed7e205248.html" target="element"> Match Requests with Vehicle </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1e4fba1794d44fb4b278d438afc3d2eb.html" target="element"> Add Costs </a> </td>
																				<td> <a href="../elements/id-1e4fba1794d44fb4b278d438afc3d2eb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-289c5ed0b90645a2a189691273cff66b.html" target="element"> Submit Transfer Requests </a> </td>
																				<td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element"> Open Account </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e449544524e9494eaf2ff2f5620fea21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e449544524e9494eaf2ff2f5620fea21.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a859d7dcff9c4a769c340fc4225a0f68.html" target="element"> WeWash External Platform </a> </td>
																		<td> <a href="../elements/id-9a5e7c9827b04398a7e8bee3393f559d.html" target="element"> Transfer Laundry Charges to HMS  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-001e384f75cb4f2aaaeef1f8273ef88b.html" target="element"> Push Charge </a> </td>
																				<td> <a href="../elements/id-001e384f75cb4f2aaaeef1f8273ef88b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9a5e7c9827b04398a7e8bee3393f559d.html" target="element"> Transfer Laundry Charges to HMS  </a> </td>
																				<td> <a href="../elements/id-5b0f197ef5f64c1a8e9067f71e6610e6.html" target="element"> Open Account </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-271b3c36698a41239214474dfba922bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-271b3c36698a41239214474dfba922bc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-186c8f3fd04743c3bece4e1e70d60894.html" target="element"> Smartphone  </a> </td>
																		<td> <a href="../elements/id-453b4c97cf1645c4a09d809ab803cb96.html" target="element"> Hotel Wi-Fi Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0fe496272cf14e8b9803b213b8b17f17.html" target="element"> Runs the app </a> </td>
																		<td> <a href="../elements/id-0fe496272cf14e8b9803b213b8b17f17.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-186c8f3fd04743c3bece4e1e70d60894.html" target="element"> Smartphone  </a> </td>
																		<td> <a href="../elements/id-20d1b6574e8541aba638c0a7a85d628e.html" target="element"> Staff Portal Dashboard </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f5d835c7f64e4632b6c82ec0afa71aab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5d835c7f64e4632b6c82ec0afa71aab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-453b4c97cf1645c4a09d809ab803cb96.html" target="element"> Hotel Wi-Fi Network </a> </td>
																		<td> <a href="../elements/id-40abb90ec07b4a33a35046bd9f15e360.html" target="element"> WeWash Server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-32ae702d8ad9443b8c13022066917966.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32ae702d8ad9443b8c13022066917966.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-40abb90ec07b4a33a35046bd9f15e360.html" target="element"> WeWash Server </a> </td>
																		<td> <a href="../elements/id-a859d7dcff9c4a769c340fc4225a0f68.html" target="element"> WeWash External Platform </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2313287edb7240e5b5cdd1b0da741189.html" target="element"> Tracks Assets </a> </td>
																		<td> <a href="../elements/id-2313287edb7240e5b5cdd1b0da741189.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bedc2eb25d9c486db783b0fa553d319e.html" target="element"> Hotel Fleet Vehicles </a> </td>
																		<td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element"> Transfer Management System (TMS)  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9859a4e206d04e4ca5fab0c5d2c68cec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9859a4e206d04e4ca5fab0c5d2c68cec.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-112aba1b7d8247e6bbc59e50317b1965.html" target="element"> Central Server </a> </td>
																		<td> <a href="../elements/id-453b4c97cf1645c4a09d809ab803cb96.html" target="element"> Hotel Wi-Fi Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73d3d801b7774329a4fe04ea2daeb099.html" target="element"> Hosts Backend Components </a> </td>
																		<td> <a href="../elements/id-73d3d801b7774329a4fe04ea2daeb099.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-112aba1b7d8247e6bbc59e50317b1965.html" target="element"> Central Server </a> </td>
																		<td> <a href="../elements/id-9394ba3905cb472f93fb22d1048223de.html" target="element"> Hotel Management System (HMS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69429dd3231f4b038773ec31883c1887.html" target="element"> Hosts Module </a> </td>
																		<td> <a href="../elements/id-69429dd3231f4b038773ec31883c1887.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-112aba1b7d8247e6bbc59e50317b1965.html" target="element"> Central Server </a> </td>
																		<td> <a href="../elements/id-f61e50c70b3242729d70190eafccd721.html" target="element"> Transfer Management System (TMS)  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>